@orange:#F4C76A;
@brown:#717a1b;

.margenes(@top: 0px, @botton: 0px){
    margin-bottom: @botton;
    margin-top: @top;
}
.jumbotron{
    background-color: @orange;
    color:@brown
   .margenes(10px,0px);
  

}

footer{
padding: 10px 10px 0 10px;
background-color: @orange;
.margenes(10px,0px);

}
.card{
flex: 1 200px;
padding: 2px 5px 2px 5px;
}
.btn-producto{
width: 100%;
position: absolute;
left: 0;
bottom: 0;
}
.footer-icon{
padding-right: 10px;
color:#977941;;
}
.navbar{
background-color:@brown;
}
.tab-content{
padding-top: 10px;
}