.jumbotron {
  background-color: #F4C76A;
  color: #717a1b margin-bottom: 0px; margin-top: 10px;;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #F4C76A;
  margin-bottom: 0px;
  margin-top: 10px;
}
.card {
  flex: 1 200px;
  padding: 2px 5px 2px 5px;
}
.btn-producto {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}
.footer-icon {
  padding-right: 10px;
  color: #977941;
}
.navbar {
  background-color: #717a1b;
}
.tab-content {
  padding-top: 10px;
}
